<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have been successfully checked in for <strong><%= @event.name %></strong> and <strong><%= @event.points %></strong> points have been added for this event.
      <br>
      <br>
      <a href="https://asgsa-application-47c548b63283.herokuapp.com">Website Link</a>
    </p>
  </body>
</html>