<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to ASGSA <%= @member.first_name %>!</p>
    <p>
      Your account has been approved, so you may access the website <a href="https://asgsa-application-47c548b63283.herokuapp.com">here</a>.
      We are excited to have you as a member of the Animal Science Graduate Student Association at Texas A&M University!

      <a href="https://asgsa-application-47c548b63283.herokuapp.com">Website Link</a>
    </p>
  </body>
</html>