<%= link_to("Back to RSVP List", event_attendees_path(@event), class: 'back-link') %> <br>

<div class="attendees delete">
  <h2>Delete RSVP</h2>

  <%= form_for([@event, @attendee], method: 'delete') do |f| %>
    <p>Are you sure you want to delete this RSVP?</p>

    <div class="form-buttons">
      <%= f.submit("Delete RSVP") %>
    </div>

  <% end %>
</div>

</div>
