<h1>Confirm delete</h1>

<p>Are you sure you want to delete <%= @event.name %>?</p>

</br>

<div>
  <%= button_to "Delete", @event, method: :delete, form: { style: "display: inline;"} %>
  <%= button_to "Cancel", events_path, method: :get, form: { style: "display: inline;"}%>
</div>
