<div class="faq">
    <div class="card">
        <div class="card-header">
            <h1>Frequently Asked Questions for Admins</h1>
        </div>
        <div class="card-body">
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: How can I change Members' Roles?</h3>
            <p style="margin-bottom: 2rem;">
                A: To change members roles, go to the “Role Management” Tab in the nav bar and from there select the member you want to change the roles of.
                Note: only the Member, Officer, and Admin roles should be chosen.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: How can I change the Email footer?</h3>
            <p style="margin-bottom: 2rem;">
                A: To change the email footer for event and notification emails, go to the “Email Settings” tab and edit the current footer to change the member roles,
                if there is no footer, create a new one. Note: the footer displayed is how it appears in the email itself.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: How can I assign a member points for attending an event?</h3>
            <p style="margin-bottom: 2rem;">
                A: To award points to a member for attending an event, you can simply check in the member to the event by navigating to the event page, selecting the event, 
                and clicking the "Check In" button for the particular member. This will automatically award the member the points for the event.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: How can I send an email out for a particular event?</h3>
            <p style="margin-bottom: 2rem;">
                A: To send an email out for a particular event, make sure to select the "send email to all members" checkbox when creating an event.
                This will automatically send an email to all members in the organization regarding the event.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: How can I send out a Notification?</h3>
            <p style="margin-bottom: 2rem;">
                A: To send a notification go to the “Notifications” Tab in the Nav bar and click on the new notification near to the top to send a notification.
                You can link an event to a notification if you choose, or send an email for the notifications by selecting "send email to all members" checkbox.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: How can I send an attachment to emails?</h3>
            <p style="margin-bottom: 2rem;">
                A: To send an attachment, when creating an event or notification, select one of the boxes to send an email and the option to send an attachment will appear below.
                Note that attachments are only sent in the email, they will not appear in the in app notifications or in the events.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: How can I approve or reject new members?</h3>
            <p style="margin-bottom: 2rem;">
                A: To approve members go to the “Approval System” Tab in the Nav bar and their you’ll see all members waiting for approval. You can approve or reject the member. 
                Note: If you reject the member they will be removed from the app.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: What do I do once I’ve signed up?</h3>
            <p style="margin-bottom: 2rem;">
                A: Once you’ve signed up you must wait for an admin or officer to approve you to access the app, until then you can fill out your member profile by seeing question 3.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: What is a big perk of being an active ASGSA? </h3>
            <p style="margin-bottom: 2rem;">
                A: Active members can apply for our annual member involvement scholarship(s) that can go towards conference travels or student fees! To check your status go to your profile icon, click the dropdown menu and select “View Profile” to view your status.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: How can I edit information about my profile?</h3>
            <p style="margin-bottom: 2rem;">
                A: You can edit information regarding your profile by simply navigating to your profile icon, clicking the dropdown menu, and selecting "View Profile".
                From here, you can edit your profile information by clicking the "Edit" button.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: How can I view my notifications?</h3>
            <p style="margin-bottom: 2rem;">
                A: You can view your notifications by clicking the notification bell next your profile icon.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: How can I view upcoming events?</h3>
            <p style="margin-bottom: 2rem;">
                A: You can view upcoming events by navigating to the "Events" tab in the navigation bar, or you can view a snapshot of a few upcoming events by navigating to the home page.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: How can I get help regarding any issue I have?</h3>
            <p style="margin-bottom: 2rem;">
                A: If you encounter any issues, you can contact us by clicking the "Contact Us" button at the bottom of the page and filling out the form. 
                A representative will get back to you as soon as possible.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: How can I view how many points I have and what they correspond to?</h3>
            <p style="margin-bottom: 2rem;">
                A: You can view information regarding your points by simply navigating to your profile icon, clicking the dropdown menu, and selecting "View Profile". 
                Here, you can view your points and event history.
            </p>
            <h3 style="font-style: bold; margin-bottom: 1rem; color: #500000">Q: How can I RSVP for an event?</h3>
            <p style="margin-bottom: 2rem;">
                A: You can RSVP for a particular event by simply navigating to the events tab, selecting the event you are interested in, and clicking the "RSVP" button.
                Alternatively, you can RSVP for an event by clicking the link in an event email, if you received one.
            </p>
        </div>
    </div>
</div>