<div id="<%= dom_id event_member_join %>">
  <p>
    <strong>Attended:</strong>
    <%= event_member_join.attended %>
  </p>

  <p>
    <strong>Rsvp:</strong>
    <%= event_member_join.rsvp %>
  </p>

</div>
